*{
 margin: 0 auto;
}
#footer{
    text-align: center;
    background-color: rgba(19, 18, 18, 0.767);
    padding: 10px;
    position: relative;
    top: 664px;
}
#copy{
    color: white;
}